*.log
*.code-workspace
*.db
*.mp4
ui/resources/images/*
!ui/resources/images/default.png
!ui/resources/images/dropped.png
!ui/resources/images/hold.png
!ui/resources/images/forever.png
!ui/resources/images/finished.png
!ui/resources/images/pc.png
!ui/resources/images/404.png
!ui/resources/images/404-tutorial.gif
!ui/resources/images/playing.png
!ui/resources/images/favicon.ico
ui/*.html
!ui/404.html
backups/*
build/*