<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background : #ffffff">
  <head>
    <title>Gaming Gaiden</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./resources/images/favicon.ico"
    />
    <link rel="stylesheet" href="./resources/css/AllGames.css" />
    <link rel="stylesheet" href="./resources/css/jquery.dataTables.css" />
    <script src="./resources/js/jquery-3.7.1.min.js"></script>
    <script src="./resources/js/jquery.dataTables.min.js"></script>
    <script src="./resources/js/purify.min.js"></script>
  </head>
  <body>
    <div id="games-table-container">
      <table id="games-table" class="display">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Platform</th>
            <th>Playtime</th>
            <th>Sessions</th>
            <th>Status</th>
            <th>Last Played On</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="button-container">
      <button class="custom-button" id="Toggle-Pagination">Show All</button>
    </div>
    <script>
      const gamesData = _GAMESDATA_;
    </script>
    <script src="./resources/js/AllGames.js"></script>
    <div id="navigation-bar">
      <button class="custom-button" id="summary-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/Summary.html';">Life Time Summary</button>
      <button class="custom-button" id="gaming-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamingTime.html';">Time Spent Gaming</button>
      <button class="custom-button" id="most-played-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/MostPlayed.html';">Most Played</button>
      <button class="custom-button" id="all-games-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/AllGames.html';">All Games</button>
      <button class="custom-button" id="idle-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/IdleTime.html';">Idle Time</button>
      <button class="custom-button" id="games-per-platform-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamesPerPlatform.html';">Games Per Platform</button>
      <button class="custom-button" id="session-history-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/SessionHistory.html';">Session History</button>
    </div>
  </body>
</html>
