<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background : #ffffff">
  <head>
    <title>Gaming Gaiden</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./resources/images/favicon.ico"
    />
    <link rel="stylesheet" href="./resources/css/GamingTime.css" />
    <script src="./resources/js/jquery-3.7.1.min.js"></script>
    <script src="./resources/js/chart.js"></script>
    <script src="./resources/js/chartjs-plugin-datalabels-2.0.0.js"></script>
    <script>
      $(document).ready(function () {
        $("table").each(function () {
          var tHead = $(this).find("tr:first").html();
          $(this).find("colgroup").remove();
          $(this).find("tr:first").remove();
          $(this)
            .find("tbody")
            .before("<thead>" + tHead + "</thead>");
        });
      });
    </script>
  </head>

  <body>
    <h1>Time You Spent Playing Games</h1>
    <div id="chart-container">
      <canvas id="gaming-time-chart"></canvas>
    </div>
    <div id="chart-navigation-bar">
      <button class="custom-button" id="prev-button">&#11164;</button>
      <div id="time-period-display"></div>
      <button class="custom-button" id="next-button">&#11166;</button>
    </div>
    <div id="warn-msg"></div>
    <button class="custom-button" id="period-button">Yearly Summary</button>
    <div style="display: none">_DAILYPLAYTIMETABLE_</div>
    <script src="./resources/js/common.js"></script>
    <script src="./resources/js/GamingTime.js"></script>
    <div id="navigation-bar">
      <button class="custom-button" id="summary-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/Summary.html';">Life Time Summary</button>
      <button class="custom-button" id="gaming-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamingTime.html';">Time Spent Gaming</button>
      <button class="custom-button" id="most-played-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/MostPlayed.html';">Most Played</button>
      <button class="custom-button" id="all-games-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/AllGames.html';">All Games</button>
      <button class="custom-button" id="idle-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/IdleTime.html';">Idle Time</button>
      <button class="custom-button" id="games-per-platform-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamesPerPlatform.html';">Games Per Platform</button>
      <button class="custom-button" id="session-history-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/SessionHistory.html';">Session History</button>
    </div>
  </body>
</html>
