<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Gaming Gaiden</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./resources/images/favicon.ico"
    />
    <link rel="stylesheet" href="./resources/css/IdleTime.css" />
    <script src="./resources/js/jquery-3.7.1.min.js"></script>
    <script src="./resources/js/chart.js"></script>
    <script src="./resources/js/chartjs-plugin-datalabels-2.0.0.js"></script>
    <script>
      $(document).ready(function () {
        $("table").each(function () {
          var tHead = $(this).find("tr:first").html();
          $(this).find("colgroup").remove();
          $(this).find("tr:first").remove();
          $(this)
            .find("tbody")
            .before("<thead>" + tHead + "</thead>");
        });
      });
    </script>
  </head>

  <body>
    <h1>Time you left games Idle</h1>
    <div id="chart-container">
      <canvas id="game-vs-time-chart"></canvas>
    </div>
    <div id="total-label">Total Time Wasted: _TOTALIDLETIME_</div>
    <div style="display: none">_GAMESIDLETIMETABLE_</div>
    <script src="./resources/js/common.js"></script>
    <script src="./resources/js/GameVsTime.js"></script>
    <script>
      $("table")[0].setAttribute("id", "data-table");
      let gamingData = buildGamingData("name", "time");
      updateChart(gamingData.length, "Idle Time (Hours)");
    </script>
  </body>
</html>
