<!DOCTYPE html>
<html>
  <head>
    <title>Gaming Gaiden</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./resources/images/favicon.ico"
    />
    <link rel="stylesheet" type="text/css" href="./resources/css/Manual.css" />
  </head>

  <body>
    _MARKDOWN_HTML_
  </body>
</html>
