<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Gaming Gaiden</title>
    <link rel="icon" type="image/x-icon" href="./resources/images/favicon.ico">
    <link rel="stylesheet" href="./resources/css/MostPlayed.css">
    <script src="./resources/js/jquery-3.7.1.min.js"></script>
    <script src="./resources/js/chart.js"></script>
    <script src="./resources/js/chartjs-plugin-datalabels-2.0.0.js"></script>
    <script>
        $(document).ready(
            function () {
                $('table').each(
                    function () {
                        var tHead = $(this).find('tr:first').html();
                        $(this).find('colgroup').remove();
                        $(this).find('tr:first').remove();
                        $(this).find('tbody').before('<thead>' + tHead + '</thead>');
                    }
                );
                $('table')[0].style.display = 'none';
            }
        );
    </script>
</head>

<body>
    <h1>Your Most Played Games</h1>
    <div id="chart-container">
        <canvas id="most-played-chart"></canvas>
    </div>
    <div id="navigation-bar">
        <div>Top</div>
        <select id="game-count"></select>
        <div>Games</div>
    </div>
    <div>
        _GAMESPLAYTIMETABLE_
    </div>
    <script src="./resources/js/common.js"></script>
    <script src="./resources/js/MostPlayed.js"></script>
</body>

</html>