<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Gaming Gaiden</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./resources/images/favicon.ico"
    />
    <link rel="stylesheet" href="./resources/css/theme.css" />
    <link rel="stylesheet" href="./resources/css/MostPlayed.css" />
    <script src="./resources/js/libraries/jquery-3.7.1.min.js"></script>
    <script src="./resources/js/libraries/chart.js"></script>
    <script src="./resources/js/libraries/chartjs-plugin-datalabels-2.0.0.js"></script>
    <script>
      $(document).ready(function () {
        $("table").each(function () {
          var tHead = $(this).find("tr:first").html();
          $(this).find("colgroup").remove();
          $(this).find("tr:first").remove();
          $(this)
            .find("tbody")
            .before("<thead>" + tHead + "</thead>");
        });
      });
    </script>
  </head>

  <body>
    <h1>Your Most Played Games</h1>
    <div id="main-panel">
    <div id="chart-container">
      <canvas id="game-vs-time-chart"></canvas>
    </div>
    <div id="chart-navigation-bar">
      <div>Top</div>
      <select id="game-count"></select>
      <div>Games</div>
    </div>
    </div>
    <div style="display: none">_GAMESPLAYTIMETABLE_</div>
    <script src="./resources/js/common.js"></script>
    <script src="./resources/js/GameVsTime.js"></script>
    <script>
      $("table")[0].setAttribute("id", "data-table");
      var gamingData = buildGamingData("name", "time");

      var selectBox = document.getElementById("game-count");
      const maxOptions = Math.min(50, gamingData.length);

      /* Create options for select box */
      for (let i = 10; i <= maxOptions; i += 10) {
        const option = document.createElement("option");
        option.value = i;
        option.text = i;
        selectBox.add(option);
      }
      if (gamingData.length < 50) {
        const showAllOption = document.createElement("option");
        showAllOption.value = gamingData.length;
        showAllOption.text = gamingData.length;
        selectBox.add(showAllOption);
      }
      /* End */

      document.getElementById("game-count").addEventListener("change", () => {
        updateChart(
          document.getElementById("game-count").value,
          "Playtime (Hours)",
          10
        );
      });

      updateChart(10, "Playtime (Hours)", 10);
    </script>
    <div id="navigation-bar">
      <button class="custom-button" id="summary-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/Summary.html';">Life Time Summary</button>
      <button class="custom-button" id="gaming-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamingTime.html';">Time Spent Gaming</button>
      <button class="custom-button" id="most-played-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/MostPlayed.html';">Most Played</button>
      <button class="custom-button" id="all-games-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/AllGames.html';">All Games</button>
      <button class="custom-button" id="idle-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/IdleTime.html';">Idle Time</button>
      <button class="custom-button" id="session-history-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/SessionHistory.html';">Session History</button>
      <button class="custom-button" id="games-per-platform-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamesPerPlatform.html';">Games Per Platform</button>
      <button class="custom-button" id="pc-vs-emu-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/PCvsEmulation.html';">PC vs Emulation Time</button>
    </div>
  </body>
</html>
