<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Gaming Gaiden</title>
  <link rel="stylesheet" href="./resources/css/MyGames.css">
  <link rel="stylesheet" href="./resources/css/jquery.dataTables.css" />
  <script src="./resources/js/jquery-3.7.1.min.js"></script>
  <script src="./resources/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(
      function() {
        $('table').each(
          function(){
            var tHead = $(this).find('tr:first').html();
            $(this).find('colgroup').remove();
            $(this).find('tr:first').remove();
            $(this).find('tbody').before('<thead>' + tHead + '</thead>');
          }
        );

        $('table').DataTable({
          columnDefs: [
            {
                "targets": 3,
                render: function (data, type, row, meta) {
                  if (type === "display") {
                    var hours = parseInt(parseInt(data) / 60);
                    var minutes = parseInt(data) % 60;
                    return hours + " Hr " + minutes + " Min";
                  }
                  return data;
                }
            },
            {
                "targets": 5,
                render: function (data, type, row, meta) {
                  if (type === "display") {
                    var utcSeconds = parseInt(data);
                    var date = new Date(0);
                    date.setUTCSeconds(utcSeconds);
                    return date.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' });
                  }
                  return data;
                }
            }
          ],
          order: [[5, 'desc']],
          "ordering": true,
          "paging": "numbers",
          "pageLength": 9,
          "lengthChange": false,
          "searching": true
        });

        $('#DataTables_Table_0_wrapper')[0].insertAdjacentHTML("afterbegin",'<div id="AllGames">All Games\n_TOTALGAMECOUNT_</div>');
        $('#DataTables_Table_0_wrapper')[0].insertAdjacentHTML("afterbegin",'<div id="TotalPlaytime">Total Playtime\n_TOTALPLAYTIME_</div>');

        document.getElementById('Toggle-Pagination').addEventListener('click', () => {
          if ($('table').DataTable().page.len() == 9)
          {
            document.getElementById('Toggle-Pagination').innerText = "Paginate";
            $('table').DataTable().page.len(-1).draw();
          }
          else {
            document.getElementById('Toggle-Pagination').innerText = "Show All";
            $('table').DataTable().page.len(9).draw();
          }
        });
      }
    );
  </script>
</head>
<body>
  _GAMESTABLE_
  <div id="button-container">
    <button class="custom-button" id="Toggle-Pagination">Show All</button>
  </div>
</body>
</html>