<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background : #ffffff">
  <head>
    <title>Gaming Gaiden - Session History</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./resources/images/favicon.ico"
    />
    <link rel="stylesheet" href="./resources/css/SessionHistory.css" />
    <link rel="stylesheet" href="./resources/css/jquery.dataTables.css" />
    <script src="./resources/js/jquery-3.7.1.min.js"></script>
    <script src="./resources/js/jquery.dataTables.min.js"></script>
    <script src="./resources/js/purify.min.js"></script>
  </head>
  <body>
    <div id="sessions-table-container">
      <table id="sessionHistoryTable" class="display">
        <thead>
          <tr>
            <th>Game</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Start Time</th>
          </tr>
        </thead>
        <tbody>
          <!-- Rows will be dynamically inserted here by SessionHistory.js -->
        </tbody>
      </table>
    </div>

    <script>
      const sessionData = _SESSIONDATA_;
    </script>
    <script src="./resources/js/SessionHistory.js"></script>

    <div id="navigation-bar">
        <button class="custom-button" id="summary-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/Summary.html';">Life Time Summary</button>
        <button class="custom-button" id="gaming-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamingTime.html';">Time Spent Gaming</button>
        <button class="custom-button" id="most-played-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/MostPlayed.html';">Most Played</button>
        <button class="custom-button" id="all-games-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/AllGames.html';">All Games</button>
        <button class="custom-button" id="idle-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/IdleTime.html';">Idle Time</button>
        <button class="custom-button" id="games-per-platform-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamesPerPlatform.html';">Games Per Platform</button>
        <button class="custom-button" id="session-history-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/SessionHistory.html';">Session History</button>
    </div>
  </body>
</html>
