<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background : #ffffff">
  <head>
    <title>Gaming Gaiden</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./resources/images/favicon.ico"
    />
    <link rel="stylesheet" href="./resources/css/Summary.css" />
    <script src="./resources/js/jquery-3.7.1.min.js"></script>
    <script src="./resources/js/purify.min.js"></script>
    <script src="./resources/js/chart.js"></script>
    <script src="./resources/js/chartjs-plugin-datalabels-2.0.0.js"></script>
    <script>
      $(document).ready(function () {
        $("table").each(function () {
          var tHead = $(this).find("tr:first").html();
          $(this).find("colgroup").remove();
          $(this).find("tr:first").remove();
          $(this)
            .find("tbody")
            .before("<thead>" + tHead + "</thead>");
        });
      });
    </script>
  </head>

  <body>
    <h1>Life Time Summary</h1>
    <div id="summary">_SUMMARYSTATEMENT_</div>
    <div id="top-row">
      <div id="summary-chart-legend">
        <div id="legend">
          <div id="progress-icon" class="legend-icon"></div>
          <div id="progress-count" style="color: #1f9afe"></div>
          <div id="finished-icon" class="legend-icon"></div>
          <div id="finished-count" style="color: #059b27"></div>
        </div>
        <div id="sub-legend">
          <div id="hold-icon" class="legend-icon"></div>
          <div id="hold-count" style="color: #d78f34"></div>
          <div id="forever-icon" class="legend-icon"></div>
          <div id="forever-count" style="color: #94979c"></div>
          <div id="dropped-icon" class="legend-icon"></div>
          <div id="dropped-count" style="color: #662f13"></div>
        </div>
      </div>
      <div id="pc-title-column">
        <div id="pc-section-title">Your Gaming PCs</div>
        <div id="pc-navigation-bar">
          <button class="custom-button" id="prev-button">&#11164;</button>
          <div id="pc-name"></div>
          <button class="custom-button" id="next-button">&#11166;</button>
        </div>
      </div>
    </div>
    <div id="main-row">
      <div id="summary-chart-container">
        <canvas id="session-vs-playtime-chart"></canvas>
      </div>
      <div id="stats-container">
        <div id="pc-stats-section">
          <div id="pc-icon"></div>
          <div id="pc-stats">
            <p id="no-pcs-msg">Add Gaming PCs to see more stats.<br><br>Settings => Gaming PCs</p>
            <p id="pc-in-use"></p>
            <p id="pc-lifespan"></p>
            <p id="pc-price"></p>
            <p id="pc-hours"></p>
            <p id="pc-running-cost"></p>
            <p id="pc-stat-disclaimer" style="font-size: 11px;">
              &#10014 Includes play time of games you may have deleted. Idle time is excluded.
            </p>
          </div>
        </div>
        <div id="annual-time-chart-container">
          <canvas id="year-vs-playtime-chart"></canvas>
        </div>
      </div>
    </div>
    <div id="summary-table" style="display: none">_SUMMARYTABLE_</div>
    <div id="pc-table" style="display: none">_PCTABLE_</div>
    <div id="annual-gaming-hours-table" style="display: none">_ANNUALGAMINGHOURSTABLE_</div>
    <script src="./resources/js/common.js"></script>
    <script src="./resources/js/Summary.js"></script>
    <div id="navigation-bar">
      <button class="custom-button" id="summary-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/Summary.html';">Life Time Summary</button>
      <button class="custom-button" id="gaming-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamingTime.html';">Time Spent Gaming</button>
      <button class="custom-button" id="most-played-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/MostPlayed.html';">Most Played</button>
      <button class="custom-button" id="all-games-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/AllGames.html';">All Games</button>
      <button class="custom-button" id="idle-time-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/IdleTime.html';">Idle Time</button>
      <button class="custom-button" id="games-per-platform-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/GamesPerPlatform.html';">Games Per Platform</button>
      <button class="custom-button" id="pc-vs-emu-button" onclick="window.location.href='file:///C:/ProgramData/GamingGaiden/ui/PCvsEmulation.html';">PC vs Emulation Time</button>
    </div>
  </body>
</html>
