body {
  font-family: monospace;
  font-size: 14px;
  background-color: white;
}

table {
  width: 97.5% !important;
  border: 1px solid #333;
}

/* Table Header styles */
th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center !important;
}

th:first-child {
  color: #333;
}

/* Table Row styles */
tr:hover {
  background-color: gray !important;
}

tr:nth-child(even):hover {
  background-color: gray !important;
}

tr:nth-child(even) {
  background-color: #bccad6 !important;
}

/* Table Cell & Column styles */
td {
  border: 1px solid #333;
  width: auto;
  text-align: center;
  height: 50px;
  padding: 6px 5px !important;
}

/* Define specific styles for the Icon column */
td:first-child {
  width: 5%;
}

td:first-child img {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Define specific styles for the Name column */
td:nth-child(2) {
  font-weight: bold;
  width: 35%;
  text-transform: uppercase;
}

/* Define specific styles for the Sessions column */
td:nth-child(5) {
  width: 5%;
}

/* Define specific styles for the Status column */
td:nth-child(6) {
  width: 5%;
}

td:nth-child(6) img {
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Override default data table css styles */
#DataTables_Table_0_filter {
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 1.3%;
}

#DataTables_Table_0_info {
  margin-left: 24px;
}

#DataTables_Table_0_paginate .disabled {
  color: white !important;
}

#DataTables_Table_0_paginate {
  margin-right: 24px;
}

/* Playtime relative bar fill */
.playtimegradient:not(th) {
  background-image: linear-gradient(
    rgba(55, 162, 235, 0.5),
    rgba(55, 162, 235, 0.5)
  );
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 6px;
}

/* Other elements */
#TotalPlaytime {
  float: left;
  white-space: pre;
  margin-top: 10px;
  margin-left: 1.3%;
  margin-bottom: 9px;
}

#AllGames {
  position: absolute;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  white-space: pre;
}

#button-container {
  display: flex;
  justify-content: center;
}

.custom-button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.custom-button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.custom-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.custom-button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
