body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "JetBrains Mono",monospace;
}

#chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}