body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
}

#chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}

#total-label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    justify-content: space-around;
    font-family: "JetBrains Mono",monospace;
    font-size: 18px;
}