body {
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

table {
  width: 97.5% !important;
  border: 1px solid #333;
}

/* Table Header styles */
th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center !important;
}

/* Table Row styles */
tr:hover {
  background-color: gray !important;
}

tr:nth-child(even):hover {
  background-color: gray !important;
}

tr:nth-child(even) {
  background-color: #cddbe7 !important;
}

/* Table Cell & Column styles */
td {
  border: 1px solid #333;
  text-align: center;
  height: 50px;
  padding: 6px 5px !important;
}

.game-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.game-icon {
  height: 40px;
  margin-right: 10px;
  filter: drop-shadow(3px 3px 1px gray);
}

.game-cell span {
  font-weight: bold;
  text-transform: uppercase;
}

#sessionHistoryTable td:nth-child(1) {
  width: 20%;
  text-align: left;
}

#sessionHistoryTable td:nth-child(2) {
  width: 20%;
}

#sessionHistoryTable td:nth-child(3) {
  width: 20%;
}

#sessionHistoryTable td:nth-child(4) {
  width: 20%;
}

#sessionHistoryTable td:nth-child(5) {
  width: 20%;
}


/* Override default data table css styles */
#DataTables_Table_0_filter {
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 1.3%;
}

#DataTables_Table_0_info {
  margin-left: 24px;
}

#DataTables_Table_0_paginate .disabled {
  color: white !important;
}

#DataTables_Table_0_paginate {
  margin-right: 24px;
}

#navigation-bar {
    display: flex;
    margin-top: 1.5%;
    justify-content: space-evenly;
}

#navigation-bar button:first-child {
    margin-left: 16px
}

.custom-button {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: monospace;
    height: 38px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }

  .custom-button:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  }

  .custom-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  .custom-button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
  }
