body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: monospace;
}

#chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
}

#legend {
  display: flex;
  margin: 5px;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

#sub-legend {
  display: flex;
  margin: 5px;
  width: 650px;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

#summary {
  font-size: 18px;
  margin: 5px;
}

#finished-icon {
  background: #059b27;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: -20px;
}

#progress-icon {
  background: #1f9afe;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: -20px;
}

#hold-icon {
  background: #d78f34;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: -20px;
}

#forever-icon {
  background: #94979c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: -20px;
}

#dropped-icon {
  background: #662f13;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: -20px;
}