/* Page Style */
body {
  background-color: #667292;
}

/* Reset default table styles */
table {
  width: 97.5% !important;
  border: 1px solid #333;
}

td {
  border: 1px solid #333;
}

/* Style the table headers (th) */
th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center !important;
  padding: 10px;
}

#DataTables_Table_0_filter {
  width: 100%;  
  margin-bottom: 9px;
}

#DataTables_Table_0_filter > label:first-child {
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  justify-content: center;
}

#DataTables_Table_0_filter > label:first-child input{
  width: 40%;
}

/* hide the text in the first colum header */
th:first-child {
  color: #333;
}

/* Limit heights of rows with data cells to 50px */
tr td {
  height: 50px
}

/* Style alternate table rows with background color */
tr:nth-child(even) {
  background-color: #bccad6 !important;
}

td img {
  max-width: 100%; /* Limit image width to the cell's width */
  max-height: 100%; /* Limit image height to the cell's height */
}

/* Define specific styles for the first column (Icon) */
td:first-child {
  width: 50px;
  text-align: center;
}

/* Define specific styles for the 2nd column (Name) */
td:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
}

/* Add hover effect on table rows */
tr:hover {
  background-color: #555 !important;
}
